<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="signin.css">
    <link rel="stylesheet" href="usersignincss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
      <title>College Space</title>
    </head>
  
    <body>
      
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="">College Space</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/gotowelcome">Home<span class="sr-only">(current)</span></a>
                      </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/gototimetable">Upload TimeTable<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/gotopapers">Upload Papers</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/gotobooks">Upload Books</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/gotonotes">Upload Notes</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/alluserrequests">User Requests</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/alladminregitrationrequest">Admin Requests</a>
                      </li>
                  </ul>
              <br>
              <ul class="nav justify-content-end">
                <form action="/logoutadmin" method="get"> 
                    <button class="btn btn-primary my-2 my-sm-0" style="margin-right: 5px;" type="submit">Log out</button>
                </form>
              </ul>
                <form action="/adminprofile" method="post">        
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Admin Profile</button>
                </form>
            </div>
          </nav>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <!-- only for uploading files and working condition  -->
  <button type="button" class="btn btn-warning btn-lg btn-block">Papers</button>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
          <div class="card-body">
            <div class="updateanddeletepapers">
                <br>
                    <h1 class="text-center">Upload Papers</h1>
                    <form action="/uploadfilepapers" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                          <label for="file1">MCA Section</label>
                          <input type="file" name="file" required id="" class="form-control">
                          <input type="text" placeholder="Semester" required id="" class="form-control" name="paperid">
                      </div>
                      <div class="form-group">
                          <button class="btn btn-danger btn-block">
                              Upload File
                          </button>
                      </div>
                  </form>
                  <br> 
                  <br>
                  <h1 class="text-center">Watch Papers</h1>
                    <form action="/watchpapers" method="post" >
                      <div class="form-group">
                        <label for="file1">MCA  Section</label>
                          <input type="text" name="Ipaper" placeholder="Semester"  class="form-control" >       
                        <input class="btn btn-info btn-block" type="submit" value="watch papers">                            
                      </div>
                  </form>
                  <br>                   
            </div>    
          </div>      
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          
                <h5>Papers</h5>
            
            <% if(typeof users !=='undefined') { %>
                <% users.forEach((user)=> { %>
                        
                 <form action="/deletethispp" method="post">
                    <h5 class="card-title">Name-<%=user.name%> , Semester-<%=user.id%>  &nbsp;
                        <input type="hidden" name="delpaper" value="<%=user.name%>">
                        <input type="hidden" name="delid" value="<%=user.id%>">
                        <input type="hidden" name="mcapaperprimeid" value="<%=user.mcapaperid%>">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </h5>
                </form>
                 <embed src="/uploading/mcapapers/<%= user.name%>.pdf" type="application/pdf" width="100%" height="700px" /> 
                  <br>         
                <% }) %>
            <%}%> 
        </div>
      </div>
    </div>
  </div>
          
              
              
  <!-- end of file upload -->
   
    <script src="usersigninjs.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>