<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="signin.css">
    <link rel="stylesheet" href="usersignincss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
      
      <title>College Space</title>
    </head>
  
    <body>
      
       <script>
             
       </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <div class="fixnav">
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">College Space</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">   
            </ul>
       <form action="/homechle" method="get"> 
         <button class="btn btn-primary my-2 my-sm-0" type="submit">Log out</button>
       </form>
       </div>
</nav>
</div>
<!-- sidebar -->
<div class="sidebar-container">
    <form method="POST" action="/viewinguseralldetails">
        <a  class="sidebar-links" >
            <div class="sidebar-logo">
                  <button type="submit" class="btn btn-info" aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons" style="vertical-align: bottom;">
                      add
                    </span>Your Profile
                  </button>
            </div>
          </a>     
    </form>
    <form method="POST" action="/yourpersonalspace">
        <a  class="sidebar-links" >
            <div class="sidebar-logo">
              <span class="material-icons" style="vertical-align: bottom;">
                article
              </span><button type="submit" class="btn btn-success letresizebutton" >Your Space</button>
            </div>
          </a>     
    </form>
    <form method="POST" action="/papersuser">
        <a  class="sidebar-links" >
            <div class="sidebar-logo">
              <span class="material-icons" style="vertical-align: bottom;">
                article
              </span><button type="submit" class="btn btn-warning letresizebutton" >Papers</button>
            </div>
          </a>     
    </form>
    <form method="POST" action="/timetable">
        <a href="#" class="sidebar-links">
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: bottom;">
              payment
            </span><button type="submit" class="btn btn-danger letresizebutton" >Time Table</button>
          </div>
        </a>
    </form>

    <form method="POST" action="/availablebooks">
        <a href="#" class="sidebar-links">
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: bottom;">
              library_books
            </span><button type="submit" class="btn btn-info letresizebutton">Books</button>
          </div>
        </a>
    </form>

    <form method="POST" action="/availablenotes">
        <a href="#" class="sidebar-links">
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: middle" >
              library_books
            </span><button type="submit" class="btn btn-primary letresizebutton">Notes</button>
          </div>
        </a>
    </form>

    <form method="POST" action="/makerequest">
        <a href="#" class="sidebar-links">
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: middle">
              import_contacts
            </span><button type="submit" class="btn btn-dark letresizebutton">Put Request</button>
          </div>
        </a>
    </form>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md">
        <div class="info-box">
                 <button type="button" class="btn btn-success btn-lg btn-block"><%= message %></button>
            <br>
         <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <%= message %>-:        
      </h5>
    </div>

   </div>
</div>

<!-- FROM HERE YOU CAN REMOVE  -->
<% if(typeof users !=='undefined') { %>
    <% users.forEach((user)=> { %>                     
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="card-title">MCA-<%=user.name%> , Semester-<%=user.semester%></h5>
                    <form  method="POST">
                    <input type="text" value="<%=user.name%>" placeholder="<%=user.name%>" name="name" hidden>
                    <input type="text"  value="<%=user.semester%>" placeholder="<%=user.semester%>" name="semester" hidden>
                    <input type="text"  value="<%=message%>" placeholder="<%=user.semester%>" name="typed" hidden>
                    <button type="submit" formaction="/watchingprivatepaper" class="btn btn-danger float-right">View <%=message%></button>
                    <!-- <button type="submit" formaction="/movetimetable" style="margin-right:5px" class="btn btn-success float-right">Move to Your Space</button> -->
                    </form>
                  </button>
                </h5>
            </div>  
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <!-- <div class="card-body">   
     <embed src="/uploading/timetable/<%= user.name%>.pdf" type="application/pdf" width="100%" height="700px" /> 
        <br>  </div> -->
              </div>
            </div>    
          </div>
    <% }) %>
<%}%> 

<!-- END POINT TO REMOVE  -->







</div>
</div>
</div>
</div> 
 
    <script src="usersigninjs.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>